{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>CPA Dashboard</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    {% include 'headerbase.html' %}
</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="green" data-image="{% static 'img/sidebar-4.jpg' %}">

            <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <div>
                        <a href="{% url "index" %}">
                            <img style="height: 180px; margin-right: auto; margin-left: auto; display: block;" class="mx-auto d-block" src="{% static 'img/ifg-logo.png' %}" alt="">
                        </a>
                    </div>

                    <a href="{% url "index" %}" class="simple-text mt-10">
                        Comissão Própria de Avaliação
                    </a>

                </div>

                <ul class="nav">
                    <li class="{% if request.resolver_match.url_name == "index" %}active{% endif %}"">
                        <a href="{% url "index" %}">
                        <i class="pe-7s-home"></i>
                        <p>Home</p>
                        </a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == "answer" %}active{% endif %}"">
                        <a href="{% url "answer" %}">
                        <i class="pe-7s-edit"></i>
                        <p>Responder</p>
                        </a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == "grafico" %}active{% endif %}"">
                        <a href="{% url "grafico" %}">
                        <i class="pe-7s-graph"></i>
                        <p> Gráfico</p>
                        </a>
                    </li>
                </ul>
                <a style="position: absolute; bottom: 20px; padding: 10px;" href="http://computacaoifg.com.br"><img
                        width="240" src=" {% static 'img/ciencia-computacao-pequeno.png' %}"
                        alt="Logo Curso de Ciência da Computação - IFG Campus Anápolis"></a>

            </div>

        </div>

        <div class="main-panel">
            <nav class="navbar  navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header ">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only hide-sm">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/cpa{% url "answer" %}">Home</a>
                    </div>
                    <div class="collapse navbar-collapse">

                    </div>
                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">

                    {% block content %}
                    {% endblock %}
                </div>
            </div>


            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="{% url "answer" %}">
                                    Home
                                </a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </footer>

        </div>
    </div>


</body>
{% include "footerbase.html" %}

</html>