{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="Comissão Própria de Avaliação">
    <meta name="keywords" content="Avaliação,Comissão Própria, IFG">
    <meta name="author" content="Bruno de Araújo Alves">

    <title>CPA Dashboard {% if title %} | {{ title }} {% endif %}</title>
    {% include 'headerbase.html' %}
</head>

<body>

<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="{% static 'img/sidebar-4.jpg' %}">
        <div style="position: absolute;" class="sidebar-wrapper">
            <div class="logo">
                <div>
                    <a href="{% url "index" %}">
                        <img style="height: 180px; margin-right: auto; margin-left: auto; display: block;"
                             class="mx-auto d-block" src="{% static 'img/ifg-logo.png' %}"
                             alt="Logo Instituto Federal de Goiás">
                    </a>
                </div>

                <h1 class="lead text-center" style="margin: 0.2em;" ><a href="{% url "index" %}" style="color: white;">
                    Comissão Própria de Avaliação
                </a></h1>

            </div>

            <ul class="nav">
                <li class="{% if request.resolver_match.url_name == "index" %} active{% endif %}">
                    <a href="{% url "index" %}">
                        <i class="pe-7s-home"></i>
                        <p>Home</p>
                    </a>
                </li>
{#                <li class="{% if request.resolver_match.url_name == "answerestudante" %}active{% endif %}">#}
{#                    <a href="{% url "answerestudante" %}">#}
{#                        <i class="pe-7s-menu"></i>#}
{#                        <p>Estudante</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="{% if request.resolver_match.url_name == "answerdocente" %} active{% endif %}">#}
{#                    <a href="{% url "answerdocente" %}">#}
{#                        <i class="pe-7s-menu"></i>#}
{#                        <p>Docente</p>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="{% if request.resolver_match.url_name == "answercampus" %}active{% endif %}">#}
{#                    <a href="{% url "answercampus" %}">#}
{#                        <i class="pe-7s-menu"></i>#}
{#                        <p>Técnico Câmpus</p>#}
{#                    </a>#}
{#                </li>#}
{##}
{#                <li class="{% if request.resolver_match.url_name == "answerreitoria" %}active{% endif %}">#}
{#                    <a href="{% url "answerreitoria" %}">#}
{#                        <i class="pe-7s-menu"></i>#}
{#                        <p>Técnico Reitoria</p>#}
{#                    </a>#}
{#                </li>#}
            </ul>
            <a style="position: absolute; bottom: 5px; padding: 10px; margin-top: 30px;" href="http://computacaoifg.com.br"><img
                    width="240" src=" {% static 'img/ciencia-computacao-pequeno.png' %}"
                    alt="Logo Curso de Ciência da Computação - IFG Campus Anápolis"></a>

        </div>

    </div>

    <div class="main-panel">
        <nav class="navbar  navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only hide-sm">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url "index" %}">Home</a>
                </div>
                <div class="collapse navbar-collapse">

                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">

                {% block content %}
                {% endblock %}
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="{% url "index" %}">
                                Home
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>
        </footer>

    </div>
</div>


</body>
{% include "footerbase.html" %}

</html>