{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <select id="graficoChart" class="form-control select-title" name="grafico">
                        <option value="0" selected>Participação de pessoas em 2019</option>
                    </select>
                    <p class="category"></p>
                </div>
                <div class="content">
                    <form action="" method="POST">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label for="segmentoChart">Segmento</label>
                                <select class="form-control" name="segmento" id="segmentoChart">
                                    <option value="0" selected>Todos</option>
                                </select>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="campusChart">Campus</label>
                                <select class="form-control" name="campus" id="campusChart">
                                    <option value="0">Todos</option>
                                </select>
                            </div>
                            <div style="display: none;" id="cursoList" class="col-md-4 form-group">
                                {#                            <div id="cursoList" class="col-md-4 form-group">#}
                                <label for="cursoChart">Curso</label>
                                <select disabled class="form-control" name="curso" id="cursoChart">
                                    <option value="0" selected>Todos</option>
                                </select>
                            </div>

                            <div style="display: none;" id="atuacaoList" class="col-md-4 form-group">
                                {#                            <div id="atuacaoList" class="col-md-4 form-group">#}
                                <label for="atuacaoChart">Atuação</label>
                                <select disabled class="form-control" name="atuacao" id="atuacaoChart">
                                    <option value="0" selected>Todos</option>
                                </select>
                            </div>
                            <div style="display: none;" id="lotacaoList" class="col-md-4 form-group">
                                {#                            <div id="lotacaoList" class="col-md-4 form-group">#}
                                <label for="lotacaoChart">Lotação</label>
                                <select disabled class="form-control" name="lotacao" id="lotacaoChart">
                                    <option value="0" selected>Todos</option>
                                </select>
                            </div>

                        </div>
                        <div class="row chart-options"  style="display: none">
                            <div class="form-group col-md-2 col-sm-6 ">
                                <label class="switch">
                                    <input id="chart-visualization" type="checkbox" onchange="changeVis();"
                                           value="true">
                                    <span class="slider round slider-normal"></span>
                                </label>
                                <span class="small text-muted" id="chart-vis-label">Dados Reais</span>
                            </div>
                            <div class="form-group col-md-2 col-sm-6 ">
                                <label class="switch">
                                    <input id="chart-total" type="checkbox" onchange="changeTotal();" value="true">
                                    <span class="slider round slider-total"></span>
                                </label>
                                <span class="small text-muted" id="chart-total-label">Sem Total</span>
                            </div>
                        </div>

                    </form>
                    <div style="display: none" class="chart-options">
                        <p class="lead small text-uppercase">Indicador</p>
                        <h3 id="chart-indicator" class="lead"></h3>
                    </div>
                    <hr>
                    <div id="chart-place">

                        <div id="graph" class="ct-chart tc-chart ct-perfect-fourth"></div>
                    </div>
                    <hr>

                    <div class="scrolled-table chart-options" style="display: none">
                        <table id="tableChart" class="table table-hover table-striped">
                        </table>
                    </div>
                    <hr>
                    <div class="footer">
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> Dados relacionadas à 2018.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var filterChart = null;
        var normalize = false;
        var totalize = false;

        function changeVis($event) {
            normalize = $('#chart-visualization').prop('checked');
            filterChart.updateChart(normalize, null)
            normalize ? $("#chart-vis-label").text("Dados Relativos") : $("#chart-vis-label").text("Dados Reais")
        }

        function changeTotal($event) {
            totalize = $('#chart-total').prop('checked')
            filterChart.updateChart(null, totalize)
            totalize ? $("#chart-total-label").text("Com Total") : $("#chart-total-label").text("Sem Total")
        }

        window.onload = function () {

            filterChart = new FilterChart();
            $("#segmentoChart").on("change", () => {
                filterChart.loadCampus();
                filterChart.updateChart(normalize, totalize);
                let segmento = $("#segmentoChart option:selected").text()
                if ($("#graficoChart option:selected").val() != '0') {
                    if (segmento === 'Todos') {
                        $("#cursoList").hide()
                        $("#atuacaoList").hide()
                        $("#lotacaoList").hide()
                        $("#cursoChart").val(0)
                        $("#atuacaoChart").val(0)
                        $("#lotacaoChart").val(0)
                    } else if (segmento === 'Estudante') {
                        $("#cursoList").show()
                        $("#atuacaoList").hide()
                        $("#lotacaoList").hide()
                        $("#atuacaoChart").val(0)
                        $("#lotacaoChart").val(0)
                    } else if (segmento === 'Docente') {
                        $("#cursoList").hide()
                        $("#atuacaoList").show()
                        $("#lotacaoList").hide()
                        $("#cursoChart").val(0)
                        $("#lotacaoChart").val(0)
                    } else if (segmento === 'Técnico Administrativo Câmpus') {
                        $("#cursoList").hide()
                        $("#atuacaoList").hide()
                        $("#lotacaoList").show()
                        $("#cursoChart").val(0)
                        $("#atuacaoChart").val(0)
                    } else if (segmento === 'Técnico Administrativo Reitoria') {
                        $("#cursoList").hide()
                        $("#atuacaoList").hide()
                        $("#lotacaoList").show()
                        $("#cursoChart").val(0)
                        $("#atuacaoChart").val(0)
                    }
                }
            })
            $("#atuacaoChart").on("change", () => {
                filterChart.updateChart(normalize, totalize);
            })
            $("#lotacaoChart").on("change", () => {
                filterChart.updateChart(normalize, totalize);
            })
            $("#graficoChart").on("change", () => {
                if($("#graficoChart option:selected").val() == '0'){
                    $(".chart-options").css('display', 'none')
                }else{
                    $(".chart-options").css('display', 'block')
                }
                filterChart.loadSegmentos();
                filterChart.recreateChart(normalize, totalize);
            })
            $("#campusChart").on("change", () => {
                filterChart.loadCursos();
                filterChart.loadLotacao();
                filterChart.loadAtuacao();
                filterChart.updateChart(normalize, totalize);
            })
            $("#cursoChart").on("change", () => {
                filterChart.updateChart(normalize, totalize);
            })

        }
    </script>
{% endblock %}