{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <select id="graficoChart" class="form-control select-title" name="grafico">
                    <option value="0">Todos</option>
                </select>
                <p class="category"></p>
            </div>
            <div class="content">
                <form action="" method="POST">
                    <div class="row">
                        <!-- <div class="col-md-3 form-group">
                          <label for="temaChart">Tema</label>
                          <select class="form-control" name="" id="temaChart"></select>
                        </div> -->

                        <div class="col-md-4 form-group">
                            <label for="campusChart">Campus</label>
                            <select class="form-control" name="campus" id="campusChart">
                                <option value="0">Todos</option>
                            </select>
                        </div>
                        <div style="display: none;" id="view_hide" class="col-md-5 form-group">
                            <label for="cursoChart">Curso</label>
                            <select disabled class="form-control" name="curso" id="cursoChart">
                                <option value="0" selected>Todos</option>
                            </select>
                        </div>
                        <!-- <div class="col-md-3 form-group">
                          <label for="segmentoChart">Segmento</label><select name="" id="segmentoChart" name="segmentos" class="form-control">
                            <optgroup label="Topico 1">
                              <option value="0">Hello</option>
                            </optgroup>
                            <optgroup label="Topico 2">
                              <option value="0">Hello 2</option>
                            </optgroup>
                          </select>
                        </div> -->
                    </div>
                </form>
                <div id="chart-place">
                    <div id="graph" class="ct-chart tc-chart ct-perfect-fourth"></div>
                </div>

                <hr>
                <table id="tableChart" class="table table-hover table-striped">

                </table>
                <hr>
                <div class="footer">
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Dados relacionadas à 2018.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var filterChart = null;
    

    window.onload = function () {
        $("#tableChart").DataTable();
        function viewHide(){
            if($("#graficoChart").val() == 1)
                $("#view_hide").hide()
            else
                $("#view_hide").show()
        }
        filterChart = new FilterChart();
        $("#graficoChart").on("change", () => {
            filterChart.loadCampus();
            filterChart.recreateChart();
            viewHide()
        })
        $("#campusChart").on("change", () => {
            filterChart.loadCursos();
            filterChart.updateChart();
        })
        $("#cursoChart").on("change", () => {
            filterChart.updateChart();
        })
        
    }
</script>
{% endblock %}