{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% if obrigado %}
        <div class="row">
            <div class="col-sm-offset-1  col-sm-10">
                <div class="d-block mx-auto"
                     style="display: flex;
  align-items: center;
  justify-content: center; height: 80vh; width: 100%;">
                    <h3 class="h3" style="max-width: 100%; word-wrap: break-word;">Obrigado, sua avaliação é fundamental
                        para a melhoria do IFG. Acompanhe os resultados das
                        autoavaliações dos anos anteriores na página da CPA em: <a
                                href="https://www.ifg.edu.br/comissoes/cpa">https://www.ifg.edu.br/comissoes/cpa</a>
                    </h3>
                </div>

            </div>
        </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <div class="d-block mx-auto">
                    <img style="display: block; margin-left:auto; margin-right: auto; max-width: 80vw; max-height:100vh;"
                         src=" {% static 'img/comissao2019.png' %} " title="Comissão Própria de Avaliação 2019" alt="Banner Comissão Própria de Avaliação 2019">
                </div>

            </div>
        </div>
        </div>
    {% endif %}
{% endblock %}
