{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-sm-offset-1  col-sm-10">
            <div class="d-block mx-auto"
                 style="display: flex;
  align-items: center;
  justify-content: center; height: 80vh; width: 100%;">
                <h3 class="h3" style="max-width: 100%; word-wrap: break-word;">Obrigado, sua avaliação é fundamental para a melhoria do IFG. Acompanhe os resultados das
                    autoavaliações dos anos anteriores na página da CPA em: <a
                            href="https://www.ifg.edu.br/comissoes/cpa">https://www.ifg.edu.br/comissoes/cpa</a></h3>
            </div>

        </div>
    </div>
    </div>
{% endblock %}